.git
.github
.env
.editorconfig
node_modules
vendor
public/build
public/storage
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/database.sqlite
*.sqlite-journal
